.card:hover {
  transform: scale(1.1);
}

.card {
  transition: transform 0.2s ease;
  box-shadow: 0 2px 20px 0 rgba(22, 22, 26, 0.18);
  border-radius: 20px;
  overflow: hidden
}

.card-img-top {
  height: auto;
  width: 100%;
  object-fit: cover;
}