.img-fluid{
  margin-top: 5%;
  width: 30%;
  height: 35%;
}

.login {
  position: relative;
  background: url("../img/showcase.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  width: 100%;
  height: 100%;
}