.bg-image {
  position: relative;
  background: url("../img/showcase.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: auto;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  width: 100%;
  height: 100%;
}

.error {
  padding-left: 43%;
  color: red;
}